[
    "KayakoAPIURL=https://kayako.host/api/index.php?",
    "KayakoUIURL=https://kayako.host/staff/index.php",
    "KayakoAPIKey=obtain-from-admin-rest-settings",
    "KayakoSecretKey=obtain-from-admin-rest-settings",
    "SlackAPIToken=obtain-from-slack-app-integration",
    "SlackChannelId=obtain-from-slack",
    "RootProjectName=root-department-in-kayako"
]